.idea/
__pycache__/
alpha_peaks
dirs_files
csp_filter
csp_pattern
erp_times
erp_times_dec
files_clean_rest
files_erp
files_rest
full_mask
ids
markers_rest
raw_info
reject_spec
sen_sorted_idx
stc_fixed