.idea/
__pycache__/
test/
.pytest_cache/
.gitignore
.coverage
alpha_peaks_real
csp_filter_real
csp_pattern_real
dirs_files
files_clean_rest_real
files_erp_real
files_rest_real
full_mask_real
ids_real
markers_rest_real
reject_spec
p_create_sim.py