.idea/
__pycache__/
test/
.pytest_cache/
.gitignore
.coverage
alpha_peaks
csp_filter
csp_pattern
dirs_files
erp_times
erp_times_dec
files_clean_rest
files_erp_all
files_erp
files_rest
full_mask
ids
markers_rest
raw_info
reject_spec
sen_sorted_idx
stc_fixed